@import "./var.less";
.main {
    position: relative;
    top: @top-header-height;
    width: 100%;
    .am-list-view-scrollview-content {
        width: 100%;
        .am-list-body {
            border-top-color: @border-color;
            &:after {
                border-bottom: none
            }
        }
    }
    .listview {
        margin: 5px 0;
        .listview-item {
            .separator {
                margin: 0;
                height: 0.5rem;
                background: @white;
                border-bottom: 1px solid @border-color;
                border-top: 1px solid @border-color;
            }
            &:last-child {
                .separator {
                    display: none;
                }
            }
        }
    }
    .m-item {
        padding: 0 @normal-padding;
        height: @movies-item-height;
        .btn {
            background: @color2;
            color: @white;
            margin-right:1px;
            &.delete{
                background: red;
            }
        }
        .m-item-thumb {
            width: @thumb-width;
            height: @movies-item-height;
            position: absolute;
        }
        .m-item-wrap {
            margin-left: @thumb-width;
            padding-left: @normal-padding;
            display: flex;
            height: @movies-item-height;
            font-size: 0.8rem;
            color: @color3;
            .m-item-instruction-props {
                display: flex;
                flex-direction: column;
                .label {
                    display: block;
                    flex: 1;
                    line-height: 2rem;
                    max-width: 85px;
                    .ellipsis()
                }
                .weight {
                    font-weight: bold
                }
            }
            .m-item-instruct {
                flex: 1;
                line-height: 1.2rem;
                padding-top: @normal-padding;
                margin: 0;
                overflow: hidden
            }
        }
    }
}