@import "./var.less";

#footerNav {
    width: 100%;
    height: @bottom-nav-height;
    position: fixed;
    bottom: 0;
    text-align: center;
    background: #f9f9f9;
    box-shadow: 0 1px 4px @color3;
    & > div{
        height:@bottom-nav-height;
        line-height: @bottom-nav-height;
    }
    .nav-label {
        font-size: 1rem;
        padding-left: 3px;
    }
    .circle {
        padding: 6px 8px;
        border-radius: 4px;
        background: @color4;
        .edit {
            font-size: @normal-font-size;
            color:@white;
        }
    }
    svg{
        position: relative;
        top:3px;
        &.home{
            top:5px;
        }
    }
}
