@import "./var.less";

#footerNav {
    width: 100%;
    height: @bottom-nav-height;
    position: fixed;
    bottom: 0;
    text-align: center;
    background: @footer-bg;
    z-index: @top-header-zindex;
    box-shadow: 0 1px 4px @color3;
    & > div{
        height:@bottom-nav-height;
        line-height: @bottom-nav-height;
    }
    .nav-label {
        font-size: @normal-font-size;
        padding-left: 3px;
    }
    .circle {
        padding: 5px 7px;
        border-radius: 4px;
        background: @color4;
        .edit {
            color:@white;
            width: @circle-eidt;
            height: @circle-eidt;
            top:7px;
        }
    }
    img{
        position: relative;
        top:3px;
    }
}
