@import "./var.less";
.user {
    padding: 0 10px;
    input {
        height: 2rem;
        border: none;
        border-bottom: 1px solid @border-color;
        width: 100%;
        background: #f5f5f9;
    }
    form {
        padding: 20px;
        .form-line {
            padding: @normal-padding 0;
            &.randomcode {
                input {
                    width: 50%;
                }
            }
        }
        a[role=button] {
            margin-top: @normal-margin;
        }
        .regisiter {
            margin-top: @normal-margin;
            .label {
                padding-right: @normal-padding;
                color: @color3;
            }
        }
    }
    .uMain {
        .uInfo {
            margin: 20px 0;
            text-align: center;
            .vatar {
                width: 72px;
                height: 72px;
                display: inline-block;
            }
            .uname {
                display: block;
                margin-top: 10px;
            }
        }
        .uList {
            margin: 0 -10px;
            li {
                background: @white;
                padding: 20px;
                margin-bottom: 5px;
                font-size: 0.8rem;
                color: @color2;
                a{
                    display: block;
                }
            }
        }
    }
}