
@white:#fff;
@color1:#777;
@color2:#108ee9;
@color3:#666;
@color4:#9acd32;
@top-header-height:3rem;
@inner-top-header-height:2rem;
@bottom-nav-height:2.5rem;
@normal-font-size:1rem;
@top-header-zindex:99; //要比andt-mobile中的 @modal-zindex:999要小